<<<<<<< HEAD:tyyli.css

 .footer {
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d8e2dc;
  color: gray;
  text-align: center;
  padding: 30px;

}

h6 {
	padding-bottom: 20px;
}

.kuva {
	background: url(tausta6.jpg);
	background-size: cover;
	background-position: center center;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.txt {
	 position: absolute;
	top: 200px;
	left: 1080px;
	text-shadow: 1px 1px 1px #b1a7a6;
	color: #e8e8e4
}

.nav-item a:hover:not(.active) {
	text-decoration: underline;
	text-decoration-color: black;
	color: black;
}

.active {
	color: black;
	text-decoration: overline;
	text-decoration-color: #black;
}

body	{ 
	color: #343a40;
	font-family: Nunito, sans-serif;
	line-height: 140%;
	hyphens: auto;
}


main	{	width: 100%;
			padding: 50px 80px 80px 80px;
			text-align: center;
}

aside { 
	width: 100%;
	color: #343a40;
	right: 0px;
	padding-top: 100px;
}

#sisältö	{
	display: flex;
	flex-wrap: wrap;
}


@media only screen and (min-width: 600px)	{
	
	main	{ width: 80%; }
	aside	{ width: 20%; }
	
}

@media only screen and (max-width: 600px)	{
	
	aside	{ background-color: #d8e2dc; }
}


.sivu {
	list-style-type: none;
	width: 300px;
	background-color: #d8e2dc;
	border-radius: 20px;
	box-shadow: 1px 2px grey;

}
.linkki a {
  display: block;
  color: #34312d;
  padding: 8px 16px;
  text-decoration: none;
}


.linkki a:hover:not(.active) {
  color: black;
  text-decoration: underline;
}

.row {
	margin: 30px;
}

h2  {
	padding-bottom: 30px
}

h3  {
	padding-top: 30px;
	padding-bottom: 30px;
}

.jumbotron {
	background-color: #d8e2dc;
	background-size: cover;
	background-position: center center;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1  {
	font-family: BioRhyme, sans-serif;
	text-shadow: 1px 1px 1px #b1a7a6;
	color: grey;
	text-align: center;
}

@media only screen and (max-width: 600px)	{
	
	.kuva	{ width: 100%;}
	.hää { width: 100%; }
	.toda { width: 100%; }
}

.btn {
	color: #34312d;
	background-color: #d8e2dc;
	padding: 17px;
	box-shadow: 1px 1px grey;
}

.btn:hover {
	color: black;
	background-color: #c4cdc8;
=======

 .footer {
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d8e2dc;
  color: gray;
  text-align: center;
  padding: 30px;

}

h6 {
	padding-bottom: 20px;
}

.kuva {
	background: url(tausta6.jpg);
	background-size: cover;
	background-position: center center;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.txt {
	 position: absolute;
	top: 200px;
	left: 1080px;
	text-shadow: 1px 1px 1px #b1a7a6;
	color: #e8e8e4
}

.nav-item a:hover:not(.active) {
	text-decoration: underline;
	text-decoration-color: black;
	color: black;
}

.active {
	color: black;
	text-decoration: overline;
	text-decoration-color: #black;
}

body	{ 
	color: #343a40;
	font-family: Nunito, sans-serif;
	line-height: 140%;
	hyphens: auto;
}


main	{	width: 100%;
			padding: 50px 80px 80px 80px;
			text-align: center;
}

aside { 
	width: 100%;
	color: #343a40;
	right: 0px;
	padding-top: 100px;
}

#sisältö	{
	display: flex;
	flex-wrap: wrap;
}


@media only screen and (min-width: 600px)	{
	
	main	{ width: 80%; }
	aside	{ width: 20%; }
	
}

@media only screen and (max-width: 600px)	{
	
	aside	{ background-color: #d8e2dc; }
}


.sivu {
	list-style-type: none;
	width: 300px;
	background-color: #d8e2dc;
	border-radius: 20px;
	box-shadow: 1px 2px grey;

}
.linkki a {
  display: block;
  color: #34312d;
  padding: 8px 16px;
  text-decoration: none;
}


.linkki a:hover:not(.active) {
  color: black;
  text-decoration: underline;
}

.row {
	margin: 30px;
}

h2  {
	padding-bottom: 30px
}

h3  {
	padding-top: 30px;
	padding-bottom: 30px;
}

.jumbotron {
	background-color: #d8e2dc;
	background-size: cover;
	background-position: center center;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1  {
	font-family: BioRhyme, sans-serif;
	text-shadow: 1px 1px 1px #b1a7a6;
	color: grey;
	text-align: center;
}

@media only screen and (max-width: 600px)	{
	
	.kuva	{ width: 100%;}
	.hää { width: 100%; }
	.toda { width: 100%; }
}

.btn {
	color: #34312d;
	background-color: #d8e2dc;
	padding: 17px;
	box-shadow: 1px 1px grey;
}

.btn:hover {
	color: black;
	background-color: #c4cdc8;
>>>>>>> dd864a0b458c5c9494294570b48fb81f897953fd:1. Etusivu/tyyli.css
}